{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .printing {
      position: relative;
    }

    .printing-img {
      position: absolute;
      bottom: -64px;
      right: -8px;
    }

    #subscribe-button {
      position: relative;
      top: 40px;
      left: 20px;
      background: none;
      border: none;
      cursor: pointer;
      position: relative;
      display: inline-block;
    }
  </style>
  <script>
    function validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
    function httpGet(theUrl) {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", theUrl, true); // false for synchronous request
      xmlHttp.send(null);
      xmlHttp.responseText;
    }
    function subscribe() {
      var em = document.getElementById('email').value;

      if (validateEmail(em)) {
        httpGet("subscribe/" + em);
        alert('Мы тебя запомнили');
      } else {
        alert('Кажется, это не эмэил. Проверь-ка');
      }
    }
  </script>
  <meta charset="UTF-8">
{% endblock %}

{% block content %}
<div class="scroll centered" style="width: 670px;">
  <div style="color:#350501;position:relative; padding-left: 10px; padding-right: 10px; padding-bottom: 20px;">
    Привет! Мы, <a href="https://vk.com/yegorf1">@yegorf1</a> и  <a href="https://vk.com/seryiza">@seryiza</a>, сейчас работаем над новой текстовой игрой. Она будет выпущена в телеграме, на этом сайте и возможно где-то еще. Суть игры — в управлении королевством. Нужно отдавать приказы, учитывать настроение подданных, их нравы, не забывать о ресурсах, голоде и вообще быть везде и сразу.<br />
    (да, караваны можно будет грабить)<br /><br />
    Если тебе хочется принять участие в Закрытом бета тесте, оставь свой email, и мы тебе обязательно напишем.
    <br/>
    Спасибо за прекрасные картинки <a href="https://vk.com/13x666">@13x666</a>!
  </div>
  <div class="textbox">
    <input id="email" />
  </div>
  <button type="button" id="subscribe-button" onclick="subscribe();">
    <img src="{{ url_for('static', filename='imgs/btn.png') }}" alt="" />
  </button>
  <div class="printing">
    <img src="{{ url_for('static', filename='imgs/printing.png') }}" class="printing-img" />
  </div>
</div>
{% endblock %}