<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/main.css">
		<style type="text/css">
			input, select, textarea {
				color: #987359;
			}

			body {
				background-color: #040917;
			}
		</style>
	</head>
	<body>
		<div class="background" id="left-bg"></div>
		<div class="background" id="right-bg"></div>
		

		<form action="" method="POST" name="form">
			<div id="login-form" class="form">
				{{ form.hidden_tag() }}
				<img style='vertical-align:middle;' src="static/imgs/crown-icn.png" class="icon">
				<div style='vertical-align:middle;' class="simple-textbox">
					{{ form.username }}
				</div>
				<br/>
				<img style='vertical-align:middle;' src="static/imgs/key-icn.png" class="icon">
				<div style='vertical-align:middle;' class="simple-textbox">
					{{ form.password }}
				</div>
				<br/>
				<br/>
				<div style="text-align: center;">
					<button type="submit" id="login" >
						<img src="static/imgs/login-btn.png" alt="" />
					</button>
				</div>
			</div>
		</form>
	</body>
</html>
