<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/main.css">
		<style type="text/css">
			#textbox {
				color: #987359;
			}

			body {
				background-color: #040917;
			}
		</style>
	</head>
	<body>
		<div class="background" id="left-bg"></div>
		<div class="background" id="right-bg"></div>
		<div id="login-form" class="form">
			<img style='vertical-align:middle;' src="static/imgs/crown-icn.png" class="icon">
			<div style='vertical-align:middle;' class="simple-textbox">
				<input id="login" />
			</div>
			<br/>
			<img style='vertical-align:middle;' src="static/imgs/key-icn.png" class="icon">
			<div style='vertical-align:middle;' class="simple-textbox">
				<input id="password" />
			</div>
			<br/>
			<br/>
			<div style="text-align: center;">
				<button type="button" id="login" onclick="login();">
					<img src="static/imgs/login-btn.png" alt="" />
				</button>
			</div>
		</div>
	</body>
</html>