{% extends "base.html" %}
{% block title %}Войти{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    input, select, textarea {
      color: #987359;
    }

    .error {
	    color: #B51927;
    }
  </style>
{% endblock %}

{% block content %}
  <form action="" method="POST" name="form">
    <div id="login-form" class="form centered">
      {{ form.hidden_tag() }}

      {% if error %}
        <div class=error>
          Error:<br/>
          {{ error }}
        </div>
      {% endif %}
      
      <img style='vertical-align:middle;' src="static/imgs/crown-icn.png" class="icon">
      <div style='vertical-align:middle;' class="simple-textbox">
        {{ form.username }}
      </div>
      <br/>
      <img style='vertical-align:middle;' src="static/imgs/key-icn.png" class="icon">
      <div style='vertical-align:middle;' class="simple-textbox">
        {{ form.password }}
      </div>
      <br/>
      <br/>
      <div style="text-align: center;">
        <button type="submit" id="login" >
          <img src="static/imgs/login-btn.png" alt="" />
        </button>
      </div>
    </div>
  </form>
{% endblock %}