{% extends "base.html" %} 
{% block title %}Login{% endblock %} 

{% block head %} 
{{ super() }}

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/play.js')}}" />
{% endblock %}

{% block content %}
<div class="centered scroll">
    <div>
        <div class="textbox">
            <input type="text" value="Говорите сюда" id="messageEdit" />
        </div>
        <button onclick="sendMessage();">Возглас</button>
        <button onclick="startGame();">Новая игра</button>
    </div>
    <div>
        <textarea id="history" cols="80" rows="20" style="color: black; background: transparent; border-color: transparent;" readonly></textarea>
    </div>
</div>
{% endblock %}